.main-menu {
  text-align: initial;
  background-color: #45806b;
  color: white !important;
  height: 47px;
}
.main-menu .logo-icon {
  height: 47px;
}
.main-menu .title-menu {
  font-size: 25px;
  line-height: 46px;
  margin-left: 5px;
  vertical-align: top;
  color: white;
}
.ant-menu{
  background-color: #45806b !important;
  color: white !important;
  float: right;
  margin-right: 5px;
}
.ant-menu>.ant-menu-submenu{
  float: right !important;
}
.ant-menu .ant-menu-sub{
  background-color: white !important;
  color: black !important;
}
.ant-menu .logo-icon {
  width: 58px;
  padding: 0;
  position: absolute;
  margin-left: 5px;
}