.Home-header {
  background-color: #222;
  color: white;
}
.search-address {
  width: 100%;
}
.list-address{
  margin-top: 5px;
  border: #d9d9d9 solid thin;
  border-radius: 5px;
  max-height: 160px;
  overflow: auto;
}
.content-add-new-address{
  margin-top: 5px;
}
.addNewAdressBtn{
  width: 100%;
}
.address-detail{
  padding: 10px;
  border-bottom: #d9d9d9 solid thin;
}
.address-location {
  font-size: 12px;
  color: rgba(150, 140, 140, 0.77);
}

/******* CSS Main Input ********/
.content-display{
  margin: 0 25px;
}

/******* CSS Divider Step 1 ********/
.content-divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
}

.content-divider > span {
  position: relative;
  display: inline-block;
}

.content-divider > span:before,
.content-divider > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  /* Here is the modification */
  height: 5px; /* space between lines */
  border-top: 1px solid #8ED6BD;
}

.content-divider > span:before {
  right: 100%;
  margin-right: 15px;
}

.content-divider > span:after {
  left: 100%;
  margin-left: 15px;
}

/******* CSS Step 2 ********/
.content-body-2 .groupBtn{
  width: 100%;
  margin-bottom: 5px;
}
.content-body-2 .groupBtn button{
  width: 50%;
}
.content-body-2 .list-invitee {
  margin-top: 5px;
  border: #d9d9d9 solid thin;
  border-radius: 5px;
  max-height: 180px;
  overflow: auto;
  background-color: #d9d9d9;
  padding: 5px 0;
}
.content-body-2 .invitee-info {
  float: left;
  width: 48%;
  padding: 5px 2px;
  background-color: white;
  border-radius: 5px;
  margin: 1%;
}
.content-body-2 .img-div {
  float: left;
}
.content-body-2 .img-div img {
  width: 36px;
  display: block;
  margin: 1px 3px 0 2px;
  border-radius: 4px;
}
.content-body-2 .invitee-detail {
  margin-top: 2px;
}
.content-body-2 .invitee-name, .content-body-2 .invitee-phone{
  font-size: 12px;
}
.content-body-2 .total-div{
  margin-top: 15px;
}

/******* CSS Step 3 ********/
.content-body-3 .ant-calendar-picker{
  width: 100%;
}