.Home-header {
  background-color: #222;
  color: white;
}
.search-address {
  width: 100%;
}
.list-address{
  margin-top: 5px;
  border: #d9d9d9 solid thin;
  border-radius: 5px;
  max-height: 120px;
  overflow: auto;
}
.address-detail{
  padding: 10px;
  border-bottom: #d9d9d9 solid thin;
}
.address-location {
  font-size: 12px;
  color: rgba(150, 140, 140, 0.77);
}

/******* CSS Main Input ********/
.content-display{
  margin: 0 25px;
}

/******* CSS Divider Step 1 ********/
.content-divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
}

.content-divider > span {
  position: relative;
  display: inline-block;
}

.content-divider > span:before,
.content-divider > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  /* Here is the modification */
  height: 5px; /* space between lines */
  margin-top: -2px; /* adjust vertical align */
  border-top: 1px solid #8ED6BD;
  border-bottom: 1px solid #8ED6BD;
}

.content-divider > span:before {
  right: 100%;
  margin-right: 15px;
}

.content-divider > span:after {
  left: 100%;
  margin-left: 15px;
}