.Register {
  min-height: 100%;
  text-align: center;
  background: url("../media/header.jpg") center;
  background-size: cover;
}
.Register-modal {
  width: 300px;
  height: 440px;
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}
.Register-form{
  padding: 0 20px 20px;
}
.RegisterIcon{
  width: 25px;
  height: 25px;
}
.Register .RegisterBtn{
  width: 100%;
  border-radius: 0 0 5px 5px;
  font-size: 20px;
  background: #F05F40;
  border: 0;
  color: white;
  text-shadow: none;
}
.Register-logo{
  margin-top: -28px;
  background-color: #F05F40;
  border-radius: 50%;
  border: 10px;
}
.Register-form-button{
  width: 100%;
}
.Register .Register-form .Register-agrement{
  margin-bottom: 5px;
}